<a href="https://colab.research.google.com/github/dirudiez/TFM_DiegoRudiez/blob/main/3.%20Clasificador%20Multilabel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clasificador Multilabel

https://walkwithfastai.com/Multi_Label

## Librerías

Instalamos la última versión de Fastai:

In [1]:
!pip install fastai -Uq

#Reiniciamos el entorno de ejecución automáticamente
import IPython
IPython.Application.instance().kernel.do_shutdown(True)

     |████████████████████████████████| 197 kB 5.3 MB/s
     |████████████████████████████████| 59 kB 5.8 MB/s

{'restart': True, 'status': 'ok'}

Importamos las librerías necesarias:

In [1]:
from fastai.vision.all import *

In [2]:
import pandas as pd

import torch
from torch import nn

from fastcore.meta import use_kwargs_dict

from fastai.callback.fp16 import to_fp16
from fastai.callback.progress import ProgressCallback
from fastai.callback.schedule import lr_find, fit_one_cycle

from fastai.data.block import MultiCategoryBlock, DataBlock
from fastai.data.external import untar_data, URLs
from fastai.data.transforms import RandomSplitter, ColReader

from fastai.metrics import accuracy_multi, BaseLoss

from fastai.vision.augment import aug_transforms
from fastai.vision.data import ImageBlock
from fastai.vision.learner import cnn_learner

from torchvision.models import resnet34

## Dataset

Descargamos el dataset

In [3]:
!wget https://www.dropbox.com/s/o1eaoae59qgdo4i/Training_Set_Pre.zip?dl=0 -O train.zip
!wget https://www.dropbox.com/s/5od5cac9xhxlcwu/Test_Set_Pre.zip?dl=0 -O test.zip
!wget https://www.dropbox.com/s/gjz445xm4oddfus/Evaluation_Set_Pre.zip?dl=0 -O val.zip

--2022-05-20 11:23:38--  https://www.dropbox.com/s/o1eaoae59qgdo4i/Training_Set_Pre.zip?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.18, 2620:100:601b:18::a27d:812
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/o1eaoae59qgdo4i/Training_Set_Pre.zip [following]
--2022-05-20 11:23:38--  https://www.dropbox.com/s/raw/o1eaoae59qgdo4i/Training_Set_Pre.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc95fb9c66d8e5839077aae2e36e.dl.dropboxusercontent.com/cd/0/inline/Blk4rzFd71Wt4KEsJBlkM6glVCAuW2lTX2vhGgqtnkDwDvM5K7Dw1RrgwR51ZZ32V_xzfLRFMi67LoOtqBe5H-AZnsXnIVAL-iFjJAJWSgdeWGYJC48X7dqYMJ2i2JfNJtn3mU0ICDc97Z5YtaJv0xj7vCinl43rPn6tC1XcIbdG9Q/file# [following]
--2022-05-20 11:23:38--  https://uc95fb9c66d8e5839077aae2e36e.dl.dropboxusercontent.com/cd/0/inline/Blk4rzFd71Wt4KEsJBlkM6glVCAuW2lTX2vhGgqtnkDwDvM5K7Dw1RrgwR51ZZ32V_xzfLRFMi67LoOtqBe5H-AZnsXnIVAL-iFjJAJWSgdeWGYJC48X7dqYMJ2i2JfNJtn3mU0ICDc97Z5YtaJv0xj7vCinl43rPn6tC1XcIbdG9Q/file
Resolving uc95fb9c66d8e5839077aae2e36e.dl.dropboxusercontent.com (uc95fb9c66d8e5839077aae2e36e.dl.dropboxusercontent.com)... 162.125.9.15, 2620:100:601b:15::a27d:80f
Connecting to uc95fb9c66d8e5839077aae2e36e.dl.dropboxusercontent.com (uc95fb9c66d8e5839077aae2e36e.dl.dropboxusercontent.com)|162.125.9.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BllUXij4E8C0ZAv8eN8jXx8BKI7G18F1V2r2zXDGthkLoBmZpqKhlVYIpm-UQnMu_pfS4yDpa5cOxOFYV-gRkbKQyDE-TlihEo17J8kyx5r8FCohvExlhECmkMW6LXzHSqbFeZlHlE5Rd4r6C5MtbUE0sGt4HI3lNcBgvHwQLHn16bQiJt7bUeD7XZ2FvBb_8huKSP4rjvEeAwLIyzJV82ApWvBMBlXx_AHo4sKr0OIOsOhImKRSHJJT9YerOJeqo6HFdsig8SOVUfcEOWJa2JNv8veJWLQSGAfx-Y8bwVU5KDjtqVfikKnVNBFd3bIPuOlozl8fSpqZnu4U0BWB0ErGfDJgAHzpzEFpZFNHqmNMNz9UuKyEn5Poh2QFrm7eZcCrH8-bGygYRmqqt5OVKq-vVeealYk7V2JFo-My0J5u5g/file [following]
--2022-05-20 11:23:39--  https://uc95fb9c66d8e5839077aae2e36e.dl.dropboxusercontent.com/cd/0/inline2/BllUXij4E8C0ZAv8eN8jXx8BKI7G18F1V2r2zXDGthkLoBmZpqKhlVYIpm-UQnMu_pfS4yDpa5cOxOFYV-gRkbKQyDE-TlihEo17J8kyx5r8FCohvExlhECmkMW6LXzHSqbFeZlHlE5Rd4r6C5MtbUE0sGt4HI3lNcBgvHwQLHn16bQiJt7bUeD7XZ2FvBb_8huKSP4rjvEeAwLIyzJV82ApWvBMBlXx_AHo4sKr0OIOsOhImKRSHJJT9YerOJeqo6HFdsig8SOVUfcEOWJa2JNv8veJWLQSGAfx-Y8bwVU5KDjtqVfikKnVNBFd3bIPuOlozl8fSpqZnu4U0BWB0ErGfDJgAHzpzEFpZFNHqmNMNz9UuKyEn5Poh2QFrm7eZcCrH8-bGygYRmqqt5OVKq-vVeealYk7V2JFo-My0J5u5g/file
Reusing existing connection to uc95fb9c66d8e5839077aae2e36e.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 138777773 (132M) [application/zip]
Saving to: ‘train.zip’

train.zip           100%[===================>] 132.35M  68.9MB/s    in 1.9s

2022-05-20 11:23:41 (68.9 MB/s) - ‘train.zip’ saved [138777773/138777773]

--2022-05-20 11:23:42--  https://www.dropbox.com/s/5od5cac9xhxlcwu/Test_Set_Pre.zip?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.18, 2620:100:601b:18::a27d:812
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/5od5cac9xhxlcwu/Test_Set_Pre.zip [following]
--2022-05-20 11:23:42--  https://www.dropbox.com/s/raw/5od5cac9xhxlcwu/Test_Set_Pre.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc777dfa41574cca1e204ff99fbc.dl.dropboxusercontent.com/cd/0/inline/BlnSyBj4vz7HV9gxhjohqc00DFALXCJpSqehP4h9ydrXOywVVz0mYtwbselRFwhT8AxZlwb5_vUgdqvQjVimS01eiEyNYzNK_bCNq-23n1M0Ph0ZbQUbnHKXDz_e8ouw_r2gOAckr9X7Qns7l2xGxxOxAuOnvpI7t24N5SXCE6mqTw/file# [following]
--2022-05-20 11:23:42--  https://uc777dfa41574cca1e204ff99fbc.dl.dropboxusercontent.com/cd/0/inline/BlnSyBj4vz7HV9gxhjohqc00DFALXCJpSqehP4h9ydrXOywVVz0mYtwbselRFwhT8AxZlwb5_vUgdqvQjVimS01eiEyNYzNK_bCNq-23n1M0Ph0ZbQUbnHKXDz_e8ouw_r2gOAckr9X7Qns7l2xGxxOxAuOnvpI7t24N5SXCE6mqTw/file
Resolving uc777dfa41574cca1e204ff99fbc.dl.dropboxusercontent.com (uc777dfa41574cca1e204ff99fbc.dl.dropboxusercontent.com)... 162.125.8.15, 2620:100:601b:15::a27d:80f
Connecting to uc777dfa41574cca1e204ff99fbc.dl.dropboxusercontent.com (uc777dfa41574cca1e204ff99fbc.dl.dropboxusercontent.com)|162.125.8.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/Blng1yHCoPTWdh52bZaOixh8GCmABwwPqkYAPCR1tfvCwjXy4wqprr8Cj9V3q6_-eoZTJpX6llqDfoSkNBpBEODSbLY69OrM7ZayL-RhCyJG0FcnZ6p7UeUtbutJ6KIWVJzo422vhMKvvyAP6QjtOj1vgLEfuSI_GZWkvoNwk3ABS9BvePR_qBpDrPv-bmba4H-xUJY7cxTVfbv9HpqsuBYd6jUXi2ZmloXApigqNl69Eu2ohZrhSppRl9SjqNa9vKOhQVGa1vK0w5J-NvLcp_BLEBuytueDt0j9YQX5nwEaNH0JG9U5DZyN8nGoPtrEztZfSnifTNkiNE3dDkCvO9L74c_Ze5UTfPUbrLMCo73nwDuNie2V9my7djHWv8kvx5RfQmoSMjBkU1jN8YtsrDueOYKOU7wUmAdjB5Ir0_creA/file [following]
--2022-05-20 11:23:42--  https://uc777dfa41574cca1e204ff99fbc.dl.dropboxusercontent.com/cd/0/inline2/Blng1yHCoPTWdh52bZaOixh8GCmABwwPqkYAPCR1tfvCwjXy4wqprr8Cj9V3q6_-eoZTJpX6llqDfoSkNBpBEODSbLY69OrM7ZayL-RhCyJG0FcnZ6p7UeUtbutJ6KIWVJzo422vhMKvvyAP6QjtOj1vgLEfuSI_GZWkvoNwk3ABS9BvePR_qBpDrPv-bmba4H-xUJY7cxTVfbv9HpqsuBYd6jUXi2ZmloXApigqNl69Eu2ohZrhSppRl9SjqNa9vKOhQVGa1vK0w5J-NvLcp_BLEBuytueDt0j9YQX5nwEaNH0JG9U5DZyN8nGoPtrEztZfSnifTNkiNE3dDkCvO9L74c_Ze5UTfPUbrLMCo73nwDuNie2V9my7djHWv8kvx5RfQmoSMjBkU1jN8YtsrDueOYKOU7wUmAdjB5Ir0_creA/file
Reusing existing connection to uc777dfa41574cca1e204ff99fbc.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 47874561 (46M) [application/zip]
Saving to: ‘test.zip’

test.zip            100%[===================>]  45.66M   129MB/s    in 0.4s

2022-05-20 11:23:44 (129 MB/s) - ‘test.zip’ saved [47874561/47874561]

--2022-05-20 11:23:44--  https://www.dropbox.com/s/gjz445xm4oddfus/Evaluation_Set_Pre.zip?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.18, 2620:100:601b:18::a27d:812
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/gjz445xm4oddfus/Evaluation_Set_Pre.zip [following]
--2022-05-20 11:23:44--  https://www.dropbox.com/s/raw/gjz445xm4oddfus/Evaluation_Set_Pre.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uccf55a5deb16311e5db712eddbd.dl.dropboxusercontent.com/cd/0/inline/BlmUUuH0hlH0ugqCwXQWchiQ1kNgOQ273JyD0h6yZyZaOTUY6lC_g-0SybqDiJ59h6ziWisokAEZQYDh9Co0lCQ46Pib1m8qpQJQRc219AXyBzP3GPLF7PYA3WIw0NQjfUmXN0d3dPcFkHtx_uH_AzB7Ao1OszpFJ_QQRDB93AtNWQ/file# [following]
--2022-05-20 11:23:45--  https://uccf55a5deb16311e5db712eddbd.dl.dropboxusercontent.com/cd/0/inline/BlmUUuH0hlH0ugqCwXQWchiQ1kNgOQ273JyD0h6yZyZaOTUY6lC_g-0SybqDiJ59h6ziWisokAEZQYDh9Co0lCQ46Pib1m8qpQJQRc219AXyBzP3GPLF7PYA3WIw0NQjfUmXN0d3dPcFkHtx_uH_AzB7Ao1OszpFJ_QQRDB93AtNWQ/file
Resolving uccf55a5deb16311e5db712eddbd.dl.dropboxusercontent.com (uccf55a5deb16311e5db712eddbd.dl.dropboxusercontent.com)... 162.125.9.15, 2620:100:601b:15::a27d:80f
Connecting to uccf55a5deb16311e5db712eddbd.dl.dropboxusercontent.com (uccf55a5deb16311e5db712eddbd.dl.dropboxusercontent.com)|162.125.9.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/Bll4bKJMYD2qrKKM6bbwcc7elZ4N7s2Rqlk45c43d6Rw9LiOjwW0VVZHJmeArHp0UL-mn975MjeoJpowKhXA22DF0ubfGc_QMarirAZ6QJGWMHterLAv7AANotA7o8cj86uuoGhgOfVd1VCjjVXnZZZSrjrytqEffGFNWHNNkdQA-t6_mTxaAFQ4T5F2vqAEdxL-_tcvynjToJl1L2tSzPAsSTE8PhEmhxA0e-9jVkSt8Zay0pW5N2ES_fdrO81OvfiRvyi3sSO0V0hZmjzjcktOo7p8RvgKux3s3rui8jLfmy2XO9bDycwuE5qlFCuQFAASIU6T5B5syzbqJDJMDCRKoxCdNQA8FcrlG6CitrFfzVFMEqQLkoMtH8i5vc0jjgffB3FSilycmkIw0LpNDcw_y91G3WIJQt9vjSBwuDeaJw/file [following]
--2022-05-20 11:23:45--  https://uccf55a5deb16311e5db712eddbd.dl.dropboxusercontent.com/cd/0/inline2/Bll4bKJMYD2qrKKM6bbwcc7elZ4N7s2Rqlk45c43d6Rw9LiOjwW0VVZHJmeArHp0UL-mn975MjeoJpowKhXA22DF0ubfGc_QMarirAZ6QJGWMHterLAv7AANotA7o8cj86uuoGhgOfVd1VCjjVXnZZZSrjrytqEffGFNWHNNkdQA-t6_mTxaAFQ4T5F2vqAEdxL-_tcvynjToJl1L2tSzPAsSTE8PhEmhxA0e-9jVkSt8Zay0pW5N2ES_fdrO81OvfiRvyi3sSO0V0hZmjzjcktOo7p8RvgKux3s3rui8jLfmy2XO9bDycwuE5qlFCuQFAASIU6T5B5syzbqJDJMDCRKoxCdNQA8FcrlG6CitrFfzVFMEqQLkoMtH8i5vc0jjgffB3FSilycmkIw0LpNDcw_y91G3WIJQt9vjSBwuDeaJw/file
Reusing existing connection to uccf55a5deb16311e5db712eddbd.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 47378914 (45M) [application/zip]
Saving to: ‘val.zip’

val.zip             100%[===================>]  45.18M  56.2MB/s    in 0.8s

2022-05-20 11:23:47 (56.2 MB/s) - ‘val.zip’ saved [47378914/47378914]

In [4]:
# !rm -rvf Training_Set_Pre
!unzip -qq train.zip #-qq no verbose
!unzip -qq test.zip
!unzip -qq val.zip

In [5]:
trainPath = Path('Training_Set_Pre/')
testPath  = Path('Test_Set_Pre/')
valPath  =  Path('Evaluation_Set_Pre/')

In [31]:
df_train = pd.read_csv(str(trainPath) + '/train.csv')
df_test = pd.read_csv(str(testPath) + '/test.csv')
df_val = pd.read_csv(str(valPath) + '/val.csv')

In [32]:
df_train

,ID,Disease_Risk,DR,ARMD,MH,DN,MYA,BRVO,TSLN,ERM,...,AION,PT,RT,RS,CRS,EDN,RPEC,MHL,RP,OTHER
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1915,1916,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1916,1917,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1917,1918,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1918,1919,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1919,1920,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Para este problema de clasificación solo tendremos en cuenta las imágenes con riesgo de enfermedad (Disease_Risk) de 1.

In [18]:
df_train['Disease_Risk'].value_counts()

1    1519
0     401
Name: Disease_Risk, dtype: int64

In [27]:
filter = df_train["Disease_Risk"]==1

In [37]:
df_train = df_train.loc[df_train['Disease_Risk'] == 1]

In [38]:
#La columna Disease_Risk ya no nos hace falta, podríamos eliminarla, vemos que hay 28 clases
# df_train.iloc[:, 1:]
df_train

,ID,Disease_Risk,DR,ARMD,MH,DN,MYA,BRVO,TSLN,ERM,...,AION,PT,RT,RS,CRS,EDN,RPEC,MHL,RP,OTHER
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1909,1910,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1913,1914,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1914,1915,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1915,1916,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1916,1917,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
for i in df_train.index:
  print(df_train['DR'][i])