<a href="https://colab.research.google.com/github/dirudiez/TFM_DiegoRudiez/blob/main/3.%20Clasificador%20Multilabel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clasificador Multilabel

https://walkwithfastai.com/Multi_Label

## Librerías

Instalamos la última versión de Fastai:

In [1]:
!pip install fastai -Uq

#Reiniciamos el entorno de ejecución automáticamente
import IPython
IPython.Application.instance().kernel.do_shutdown(True)

     |████████████████████████████████| 197 kB 5.4 MB/s
     |████████████████████████████████| 59 kB 6.5 MB/s

{'restart': True, 'status': 'ok'}

Importamos las librerías necesarias:

In [1]:
from fastai.vision.all import *

In [2]:
import pandas as pd

import torch
from torch import nn

from fastcore.meta import use_kwargs_dict

from fastai.callback.fp16 import to_fp16
from fastai.callback.progress import ProgressCallback
from fastai.callback.schedule import lr_find, fit_one_cycle

from fastai.data.block import MultiCategoryBlock, DataBlock
from fastai.data.external import untar_data, URLs
from fastai.data.transforms import RandomSplitter, ColReader

from fastai.metrics import accuracy_multi, BaseLoss

from fastai.vision.augment import aug_transforms
from fastai.vision.data import ImageBlock
from fastai.vision.learner import cnn_learner

from torchvision.models import resnet34

## Dataset

Descargamos el dataset

In [3]:
!wget https://www.dropbox.com/s/o1eaoae59qgdo4i/Training_Set_Pre.zip?dl=0 -O train.zip
!wget https://www.dropbox.com/s/5od5cac9xhxlcwu/Test_Set_Pre.zip?dl=0 -O test.zip
!wget https://www.dropbox.com/s/gjz445xm4oddfus/Evaluation_Set_Pre.zip?dl=0 -O val.zip

--2022-05-20 15:09:34--  https://www.dropbox.com/s/o1eaoae59qgdo4i/Training_Set_Pre.zip?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.18, 2620:100:601b:18::a27d:812
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/o1eaoae59qgdo4i/Training_Set_Pre.zip [following]
--2022-05-20 15:09:35--  https://www.dropbox.com/s/raw/o1eaoae59qgdo4i/Training_Set_Pre.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc1a042140e097dd33c1448f39e2.dl.dropboxusercontent.com/cd/0/inline/Blpn-77w7RNjCPcIJLDZOkywl55eSgi_8y8siKiS-f8-xL6SDqhzt_nGLEYkH__f7uNYSFI44X5FfQCjjkIDMWk3z5Q3ewDI9Zgg2YC4LZqzXXbPTDFEhKanh2BOtEjCI0J3OHpEfekSp1wN_fWcSGoEFQam64koSqDv1KW1fjwJWQ/file# [following]
--2022-05-20 15:09:35--  https://uc1a042140e097dd33c1448f39e2.dl.dropboxusercontent.com/cd/0/inline/Blpn-77w7RNjCPcIJLDZOkywl55eSgi_8y8siKiS-f8-xL6SDqhzt_nGLEYkH__f7uNYSFI44X5FfQCjjkIDMWk3z5Q3ewDI9Zgg2YC4LZqzXXbPTDFEhKanh2BOtEjCI0J3OHpEfekSp1wN_fWcSGoEFQam64koSqDv1KW1fjwJWQ/file
Resolving uc1a042140e097dd33c1448f39e2.dl.dropboxusercontent.com (uc1a042140e097dd33c1448f39e2.dl.dropboxusercontent.com)... 162.125.9.15, 2620:100:601b:15::a27d:80f
Connecting to uc1a042140e097dd33c1448f39e2.dl.dropboxusercontent.com (uc1a042140e097dd33c1448f39e2.dl.dropboxusercontent.com)|162.125.9.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BlrfC4SiFl0XTxwNWDLMlLgcwfpFiqIsR2trVBSkfEUlE_rtf-lPMRKY5-rcsd1YJLf3H8A_HWbGCkhJLvzbIDpNwyfdIPTwh33UfwdVbS98wm_m44JzZAIq7I3wcjrcuKsMauQd5rpW467yTYdJFqGJzR42H--wDWEJgsf-zgZKV2Idfn5jmLT3Ozo2_tR0yQyST7gkJeI41cDOYg-erlzglaABYqjIscjtCmFjXEJtAELuApfQRjcTVot8XhpGxNsO8ZXm3hWaPiDvMTs0dx3Dlw6JB66Kc-P5exPBbzrifx-HlMTz_1ACEOXd8nfZWHhQ86GZS9vCuqU3r-Wt4lUCEqC6peoj01DP_u3ya4KoDzFwhoRvfGbfEtyI9nFXeDgEikW-Pw2eCoqAPNG34NS8QFA773x-gj9wU4o1Aa1xfA/file [following]
--2022-05-20 15:09:35--  https://uc1a042140e097dd33c1448f39e2.dl.dropboxusercontent.com/cd/0/inline2/BlrfC4SiFl0XTxwNWDLMlLgcwfpFiqIsR2trVBSkfEUlE_rtf-lPMRKY5-rcsd1YJLf3H8A_HWbGCkhJLvzbIDpNwyfdIPTwh33UfwdVbS98wm_m44JzZAIq7I3wcjrcuKsMauQd5rpW467yTYdJFqGJzR42H--wDWEJgsf-zgZKV2Idfn5jmLT3Ozo2_tR0yQyST7gkJeI41cDOYg-erlzglaABYqjIscjtCmFjXEJtAELuApfQRjcTVot8XhpGxNsO8ZXm3hWaPiDvMTs0dx3Dlw6JB66Kc-P5exPBbzrifx-HlMTz_1ACEOXd8nfZWHhQ86GZS9vCuqU3r-Wt4lUCEqC6peoj01DP_u3ya4KoDzFwhoRvfGbfEtyI9nFXeDgEikW-Pw2eCoqAPNG34NS8QFA773x-gj9wU4o1Aa1xfA/file
Reusing existing connection to uc1a042140e097dd33c1448f39e2.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 138777773 (132M) [application/zip]
Saving to: ‘train.zip’

train.zip           100%[===================>] 132.35M  53.8MB/s    in 2.5s

2022-05-20 15:09:38 (53.8 MB/s) - ‘train.zip’ saved [138777773/138777773]

--2022-05-20 15:09:38--  https://www.dropbox.com/s/5od5cac9xhxlcwu/Test_Set_Pre.zip?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.18, 2620:100:601b:18::a27d:812
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/5od5cac9xhxlcwu/Test_Set_Pre.zip [following]
--2022-05-20 15:09:38--  https://www.dropbox.com/s/raw/5od5cac9xhxlcwu/Test_Set_Pre.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucf062340a0dee00bfb7f9bc289c.dl.dropboxusercontent.com/cd/0/inline/BlqFuotGrMYBzQ4Ivz6icmYvVHRM7VMavcs8x0JRlvgT9ni_ydL72WBzo93jiPWwr9lgNf8u0u-REOuWPAF37if8zfueekpmYdjzowxcY2oDMnQCRKe8vvrM2YKxYtHycO3OZEPU5EcEXSPV-_ejhgKxp6D51I81mxKitlWY8oysow/file# [following]
--2022-05-20 15:09:39--  https://ucf062340a0dee00bfb7f9bc289c.dl.dropboxusercontent.com/cd/0/inline/BlqFuotGrMYBzQ4Ivz6icmYvVHRM7VMavcs8x0JRlvgT9ni_ydL72WBzo93jiPWwr9lgNf8u0u-REOuWPAF37if8zfueekpmYdjzowxcY2oDMnQCRKe8vvrM2YKxYtHycO3OZEPU5EcEXSPV-_ejhgKxp6D51I81mxKitlWY8oysow/file
Resolving ucf062340a0dee00bfb7f9bc289c.dl.dropboxusercontent.com (ucf062340a0dee00bfb7f9bc289c.dl.dropboxusercontent.com)... 162.125.4.15, 2620:100:601b:15::a27d:80f
Connecting to ucf062340a0dee00bfb7f9bc289c.dl.dropboxusercontent.com (ucf062340a0dee00bfb7f9bc289c.dl.dropboxusercontent.com)|162.125.4.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BlpCipPkyrx_7TOpxtbBt5qKZ7ioTHLFtCWlrLJxgLsBIInrLItqov0BsfDBPgdWTZ1qPeUbNuP7JFA4YYghlhSqN80ChUNmTYG3SGn_kb9fgEV_qVO1YQaDmpPRr5pkGbIhz-pwFPlZie66x8qCvUkbWf7MsAmpdajyYfpTpDxtO6fGHyE0SzJFmf43c9dKdf-2htpPOocGSnsac9x5eqwNLh1IFIVhOm-vrmiKarqcyTuNoydYl_6-PWI8BRWa3qReVzr5f0Drt6MHYnxHLSKA4SjiANaf02MugLmYYsCqudYK9jKWkmw8Gs9n3K-rNajuZEiNajp1CFW0eSmH2AWF5mO7972zUK-YJea4DoO8zrzXrC547WM40DpEam2zgqHREpTbrW_w5v-cZAha3pz7HE2_KV6c1ge7txqegrEJKg/file [following]
--2022-05-20 15:09:39--  https://ucf062340a0dee00bfb7f9bc289c.dl.dropboxusercontent.com/cd/0/inline2/BlpCipPkyrx_7TOpxtbBt5qKZ7ioTHLFtCWlrLJxgLsBIInrLItqov0BsfDBPgdWTZ1qPeUbNuP7JFA4YYghlhSqN80ChUNmTYG3SGn_kb9fgEV_qVO1YQaDmpPRr5pkGbIhz-pwFPlZie66x8qCvUkbWf7MsAmpdajyYfpTpDxtO6fGHyE0SzJFmf43c9dKdf-2htpPOocGSnsac9x5eqwNLh1IFIVhOm-vrmiKarqcyTuNoydYl_6-PWI8BRWa3qReVzr5f0Drt6MHYnxHLSKA4SjiANaf02MugLmYYsCqudYK9jKWkmw8Gs9n3K-rNajuZEiNajp1CFW0eSmH2AWF5mO7972zUK-YJea4DoO8zrzXrC547WM40DpEam2zgqHREpTbrW_w5v-cZAha3pz7HE2_KV6c1ge7txqegrEJKg/file
Reusing existing connection to ucf062340a0dee00bfb7f9bc289c.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 47874561 (46M) [application/zip]
Saving to: ‘test.zip’

test.zip            100%[===================>]  45.66M  43.4MB/s    in 1.1s

2022-05-20 15:09:41 (43.4 MB/s) - ‘test.zip’ saved [47874561/47874561]

--2022-05-20 15:09:41--  https://www.dropbox.com/s/gjz445xm4oddfus/Evaluation_Set_Pre.zip?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.18, 2620:100:601b:18::a27d:812
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/gjz445xm4oddfus/Evaluation_Set_Pre.zip [following]
--2022-05-20 15:09:41--  https://www.dropbox.com/s/raw/gjz445xm4oddfus/Evaluation_Set_Pre.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uced75a9698be6353ef6517a120c.dl.dropboxusercontent.com/cd/0/inline/Blo5IbMM2y-gsj0tobWrN7Zv6BQV-gunfJYaKkCQuVCugttV2PY1yUIYB2dIPu5KxU86XHealewY5WNEZPe2-NC9-_gifpWi0tkxbmJPwIEESdfBlOWoZ5oe9qsHPl26XqzvfXuASUwGPG9afIiIhLjk-iRBPMPJc-_4pYXRop-Wzg/file# [following]
--2022-05-20 15:09:42--  https://uced75a9698be6353ef6517a120c.dl.dropboxusercontent.com/cd/0/inline/Blo5IbMM2y-gsj0tobWrN7Zv6BQV-gunfJYaKkCQuVCugttV2PY1yUIYB2dIPu5KxU86XHealewY5WNEZPe2-NC9-_gifpWi0tkxbmJPwIEESdfBlOWoZ5oe9qsHPl26XqzvfXuASUwGPG9afIiIhLjk-iRBPMPJc-_4pYXRop-Wzg/file
Resolving uced75a9698be6353ef6517a120c.dl.dropboxusercontent.com (uced75a9698be6353ef6517a120c.dl.dropboxusercontent.com)... 162.125.8.15, 2620:100:601b:15::a27d:80f
Connecting to uced75a9698be6353ef6517a120c.dl.dropboxusercontent.com (uced75a9698be6353ef6517a120c.dl.dropboxusercontent.com)|162.125.8.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/Blr7RJM1kfg0s12AoQyUw_8Os1q6j-iOCQS-mjcNEN2DGIr3X2OV-aTvVu0IJhyupep7yRw8_VqXnGM7726513mukizvOePGQnJ6MxMC1OcNJD1HI9MqBQK9CLztezQNJs1XX1CU_09Ow_tx8RY4XjRbXHIrKzDdm2rSjDOkQT4aUtxluqtYMWrw-3cTYkuj-EjVio7XR5xpsIUkBFngZSGrG--VlcCDAFXQ-1c0vn_LgdhgzBtlL2k7imu8o46JolWTxR0c9zHEWhpYjgafcbGHFKfAqyujtXpxnyFBlLnpdp7USJ7s8mrm3LN4FEBIl0MB0h4Q3oVJpWGTkLz3aef4ZBH_nhHoo6xQ7T9Kjmu55Rkq3K5giS7lbw9z3qnXg_4qA4yLhe0s_hJsLNo9l8guTs8bl2p93jHh5hiLdyuf4g/file [following]
--2022-05-20 15:09:42--  https://uced75a9698be6353ef6517a120c.dl.dropboxusercontent.com/cd/0/inline2/Blr7RJM1kfg0s12AoQyUw_8Os1q6j-iOCQS-mjcNEN2DGIr3X2OV-aTvVu0IJhyupep7yRw8_VqXnGM7726513mukizvOePGQnJ6MxMC1OcNJD1HI9MqBQK9CLztezQNJs1XX1CU_09Ow_tx8RY4XjRbXHIrKzDdm2rSjDOkQT4aUtxluqtYMWrw-3cTYkuj-EjVio7XR5xpsIUkBFngZSGrG--VlcCDAFXQ-1c0vn_LgdhgzBtlL2k7imu8o46JolWTxR0c9zHEWhpYjgafcbGHFKfAqyujtXpxnyFBlLnpdp7USJ7s8mrm3LN4FEBIl0MB0h4Q3oVJpWGTkLz3aef4ZBH_nhHoo6xQ7T9Kjmu55Rkq3K5giS7lbw9z3qnXg_4qA4yLhe0s_hJsLNo9l8guTs8bl2p93jHh5hiLdyuf4g/file
Reusing existing connection to uced75a9698be6353ef6517a120c.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 47378914 (45M) [application/zip]
Saving to: ‘val.zip’

val.zip             100%[===================>]  45.18M   128MB/s    in 0.4s

2022-05-20 15:09:43 (128 MB/s) - ‘val.zip’ saved [47378914/47378914]

In [4]:
# !rm -rvf Training_Set_Pre
!unzip -qq train.zip #-qq no verbose
!unzip -qq test.zip
!unzip -qq val.zip

In [5]:
trainPath = Path('Training_Set_Pre/')
testPath  = Path('Test_Set_Pre/')
valPath  =  Path('Evaluation_Set_Pre/')

In [74]:
df_train = pd.read_csv(str(trainPath) + '/train.csv')
df_test = pd.read_csv(str(testPath) + '/test.csv')
df_val = pd.read_csv(str(valPath) + '/val.csv')

In [75]:
df_train

,ID,Disease_Risk,DR,ARMD,MH,DN,MYA,BRVO,TSLN,ERM,...,AION,PT,RT,RS,CRS,EDN,RPEC,MHL,RP,OTHER
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1915,1916,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1916,1917,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1917,1918,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1918,1919,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1919,1920,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Para este problema de clasificación solo tendremos en cuenta las imágenes con riesgo de enfermedad (Disease_Risk) de 1.

In [76]:
df_train['Disease_Risk'].value_counts()

1    1519
0     401
Name: Disease_Risk, dtype: int64

In [77]:
df_train = df_train.loc[df_train['Disease_Risk'] == 1]

In [78]:
#La columna Disease_Risk ya no nos hace falta, podríamos eliminarla, vemos que hay 28 clases
# df_train.iloc[:, 1:]
df_train = df_train.reset_index(drop=True) #Elimino la columna index con drop=True
df_train

,ID,Disease_Risk,DR,ARMD,MH,DN,MYA,BRVO,TSLN,ERM,...,AION,PT,RT,RS,CRS,EDN,RPEC,MHL,RP,OTHER
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1514,1910,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1515,1914,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1516,1915,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1517,1916,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1518,1917,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
columnas = list(df_train.columns)[2:]

nombres = []
enfermedades = []

for i in df_train.index:
  cadena = ''
  nombres.append(df_train['ID'][i])
  for x in columnas:
    if(df_train[x][i]==1):
      cadena += cadena + ' ' + x
  enfermedades.append(cadena)

In [147]:
data = {'nombre_img': nombres,
        'tags': enfermedades
        }
df = pd.DataFrame(data)

In [151]:
df

      nombre_img        tags
0              1          DR
1              2          DR
2              3          DR
3              4   MH MH ODC
4              5    DR DR LS
...          ...         ...
1514        1910        TSLN
1515        1914        TSLN
1516        1915        TSLN
1517        1916         ODP
1518        1917    DR DR LS

[1519 rows x 2 columns]

In [59]:
print(df_train.iloc[i:i+1, 2:])

     Disease_Risk  DR  ARMD  MH  DN  MYA  BRVO  TSLN  ERM  LS  ...  AION  PT  \
405             1   0     0   1   0    0     0     0    0   0  ...     0   0

     RT  RS  CRS  EDN  RPEC  MHL  RP  OTHER
405   0   0    0    0     0    0   0      0

[1 rows x 29 columns]

In [79]:
[x if(df_train[x])==0 for x in df_train.iloc[i:i+1, 2:]]

SyntaxError: ignored

In [ ]:
x for x in df_train.iloc[i:i+1, 2:]

In [85]:
z = [x if(df_train[x][i]==1) for x in df_train.iloc[i:i+1, 2:]]

SyntaxError: ignored

In [80]:
df_train[z[0]][700]==1

False

In [24]:
for x in df_train.iloc[i:i+1, 2:]:
  print(x)

DR
ARMD
MH
DN
MYA
BRVO
TSLN
ERM
LS
MS
CSR
ODC
CRVO
TV
AH
ODP
ODE
ST
AION
PT
RT
RS
CRS
EDN
RPEC
MHL
RP
OTHER